{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_widget()
 *
 * @ingroup themeable
 */
#}
<div id="sqrl-cache">
  <a href="{{ url }}">
    <img src="{{ logourl }}" alt="SQRL {{ operation }}" title="{{ title }}">
  </a>
</div>
